.box {
  padding: 30px;
  position: relative;
  .circleQ {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 10px;
  }
  .tutorial1 {
    position: absolute;
    width: 375px;
    top: 35px;
    right: 0;
    display: none;
    z-index: 80;
    @media only screen and (max-width: 799px) {
      right: 11px;
    }
  }
  .tutorial2 {
    position: absolute;
    width: 441px;
    top: -19px;
    left: 0;
    display: none;
    z-index: 80;
    @media only screen and (max-width: 799px) {
      left: -9px;
    }
  }
  .nextStep {
    position: fixed;
    top: calc(70vh - 25px);
    left: calc(50vw - 50px);
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: none;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 99;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
  }
  .block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    display: none;
  }
  .active {
    display: block;
  }
}
.headline {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hr {
  border-bottom: 2px solid #4a4d4e;
  margin-bottom: 10px;
}
.mb-large {
  margin-bottom: 30px;
}
.checklist {
  display: flex;
  justify-content: space-between;
}
.selectLabel {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
.content {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  & > div {
    display: flex;
    align-items: center;
    & > svg:first-child {
      width: 17px;
      height: 17px;
      margin-right: 10px;
    }
    & > span {
      font-size: 12px;
      margin-right: 10px;
    }
  }

  &.dragover {
    border: 1px solid pink;
  }
}
.task-card {
  flex: 0 0 31%;
  margin-bottom: 20px;
  margin-right: 20px;
  @media only screen and (max-width: 799px) {
    flex: 0 0 100%;
    margin-right: 0;
  }
}
.task-card-half {
  flex: 1 0 0;
}
.action {
  & > input {
    margin-right: 10px;
  }
  & > img {
    width: 13px;
    height: 13px;
    cursor: pointer;
  }
}
