@keyframes expand {
  from {
    transform: scaleY(0);
    transform-origin: 0 0px;
  }

  to {
    transform: scaleY(1);
    transform-origin: 0 0px;
  }
}
@keyframes shrink {
  from {
    transform: scaleY(1);
    transform-origin: 0 0px;
  }

  to {
    transform: scaleY(0);
    transform-origin: 0 0px;
  }
}

.add-title {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  & > button {
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    background: #333536;
    border: 1px solid #aaa;
    &:hover {
      color: #333536;
      background: #aaa;
      border: 1px solid #333536;
    }
  }
}
.cancel {
  text-align: right;
  color: black;
  cursor: pointer;
}
.form-card {
  background: #4a4d4e;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  position: fixed;
  left: calc(50% - 325px);
  top: calc(50% - 113px);
  width: 650px;
  box-shadow: 5px 5px 5px #222;
  @media only screen and (max-width: 799px) {
    width: calc(100vw - 103px);
    left: auto;
  }
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  & > select {
    margin-bottom: 10px;
  }
}
.form-label {
  font-size: 9px;
  color: #aaa;
  margin-bottom: 5px;
}
.blue-link {
  font-size: 9px;
  color: rgb(108, 135, 255);
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.addBtn,
.createBtn {
  color: #333536;
  background: #aaa;
  margin-right: 5px;
}
.cancelBtn {
  color: #aaa;
  background: #333536;
}
.animeStart {
  animation-name: expand;
  animation-duration: 0.5s;
  transform: scaleY(1);
  transform-origin: 0 0px;
}
.animeEnd {
  animation-name: shirnk;
  animation-duration: 0.5s;
  transform: scaleY(0);
  transform-origin: 0 0px;
}
