.box {
  padding: 0;
}
.task-card {
  margin-bottom: 20px;
  position: relative;
  .arrow {
    position: absolute;
    top: 33px;
    right: 0;
    opacity: 0.8;
  }
  .card-body {
    display: flex;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background: transparent;
      width: 6px;
      height: 12px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: rgb(27, 27, 27);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
    }
  }
  .tag {
    font-size: 18px;
    font-weight: bold;
    background-color: #4a4d4e;
    padding: 0 5px;
    line-height: 24px;

    &::before {
      content: "|  ";
    }
  }
  .content {
    flex: 0 0 30%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-right: 28px;
    & > div {
      display: flex;
      align-items: center;
      & > img {
        width: 17px;
        height: 17px;
        margin-right: 10px;
      }
      & > span {
        width: 146px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .time {
      color: #aaa;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
